*{
    box-sizing: border-box;
}

html{
    font-size: 20px;
}

body{
    width: 100%;
    background: #FBE4FF;
    margin: 0 auto;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    overflow-x: hidden;
}

div, p, h1, h4{
    margin: 0 auto;
    padding: 0;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

/* font-family: 'PT Sans', sans-serif; */
/* Start header */

.head{
    height: 65px;
    background: #243B93;
    color: white;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.header__nav, .list{
    display: flex;
}

.header__nav{
    justify-content: space-between;
    margin: 0 auto;
}

.logo{
    margin-top: 7px;
}

.list>ul{
    width: 100%;
    list-style: none;
    font-style: normal;
    font-weight: 700;
    font-size: .8rem;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.16em;
    padding: 0;
    margin: 0 auto;
}

.nav{
    width: 170px;
    height: 18.8px;
}

.nav:nth-child(5){
    width: 170px;
    height: 37.61px;
}

.nav:hover{
    transform: scale(1.1);
}

.globus:hover, .ua:hover{
    transform: scale(1.1);
}

/* end header */
/* start main */

.backgraund__title{
    height: 85px;
    background: #BFF0FF;
    margin: 0;
}

.title{
    width: 80%;
    font-style: italic;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 1.7;
    color: #202846;
}

.section__filling{
    width: 80%;
    background: white;
    margin: 30px auto;
}

.section__title{
    font-style: normal;
    font-size: 1.4rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.61);
    line-height: 2;
}

.cards{
    margin: 0;
    padding: 0;
}

.card{
    width: 80%;
    height: 300px;
    background: linear-gradient(92.95deg, #ADCBD5 0%, #00AEE6 100%);
    display: flex;
    margin-top: 42px;
    position: relative;
}

.card:nth-child(1){
    margin-top: 30px;
}
.card__img{
    padding: 30px;
}

h4{
    color: #353C57;
    font-style: italic;
    font-weight: 700;
    font-size: 1.8rem;
    display: flex;
    border-bottom: 3px solid #FFFFFF;
    margin-top: 10px;
    margin-right: 53px;
}

.card__description{
    height: 205px;
    background: #EDFBFF;
    margin-top: 10px;
    margin-right: 53px;
}

p{
    height: 112px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    color: #202846;
    margin: 10px;
}

.star{
    width: 48px;
    height: 46px;
    background-image: url(../img/зірка.png);
    position: absolute;
    top: 6px;
    right: 10px;
}

.button{
    height: 46px;
    background: #243B93;
    border-radius: 30px;
    position: absolute;
    bottom: 11px;
    right: -30px;
}

.button a{
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.8;
    padding: 0px 22px;
}

.button:hover{
    transform: scale(1.1);
}

.card:hover{
    background: #2CBDEB;
    box-shadow: 0px 0px 60px 4px #2CBDEB;
}

.card:hover>.star{
    background-image: url(../img/зіркаЖ.png);
}

.card:hover>.button{
    background: #EF075B;;
}

.button__up{
    width: 101px;
    height: 101px;
    background: rgba(48, 12, 106, 0.3);
    border-radius: 50%;
    background-image: url(../img/стрілка.png);
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    right: 70px;
    top: 1450px;
}

.button__up:hover{
    transform: scale(1.2);
}

/* end main */